<nav class="NavBar" id="NavBar">
  <a herf="/"> <h1 id="logo">ThreadJoy</h1></a>
  <div class="Navlinks">
    <a href="/"> Home</a>
    <a href="/services"> Our Services</a>
    <a href="/contact"> contact us </a>
  </div>
</nav>
