<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="shortcut icon"
      href="https://cdn2.iconfinder.com/data/icons/sustainable-fashion-4/512/LocalBrand-clothing-clothes-brand-goods-localproducts-localfashion-512.png"
      type="image/x-icon"
    />

    <title>contact us - ThreadJoy</title>
  </head>
  <body>
    <%-include ('./partials/navbar.ejs')%>
    <h1>Contact Us</h1>
    <section>
      <div>
        <h2>Contact Information</h2>
        
          <p><strong>ThreadJoy</strong></p>
          <p>123 Fashion Avenue</p>
          <p>Cityville, ST 12345</p>
          <p>Phone: <a href="tel:(555) 123-4567">(555) 123-4567</a></p>
          <p>
            Email: <a href="mailto:info@threadjoy.com">info@threadjoy.com</a>
          </p>
        
      </div>
      <div>
        <h2>Follow Us</h2>
        <ul>
          <li><a href="#" target="_blank" rel="noopener">Facebook</a></li>
          <li><a href="#" target="_blank" rel="noopener">Twitter</a></li>
          <li><a href="#" target="_blank" rel="noopener">Instagram</a></li>
        </ul>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
