<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="shortcut icon"
      href="https://cdn2.iconfinder.com/data/icons/sustainable-fashion-4/512/LocalBrand-clothing-clothes-brand-goods-localproducts-localfashion-512.png"
      type="image/x-icon"
    />
    <title>home - ThreadJoy</title>
  </head>
  <body>
    <%-include ('./partials/navbar.ejs')%>

    <p id="hero">
      Welcome to ThreadJoy 👋
      <br />
      where fashion meets sustainability in a harmonious blend of style and
      eco-conscious living! At ThreadJoy, we believe that clothing should not
      only make you look good but also feel good about your impact on the
      planet. Our mission is to redefine the way you experience fashion by
      offering a curated collection of trendy and timeless clothing items
      available for both purchase and rent.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
