<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="shortcut icon"
      href="https://cdn2.iconfinder.com/data/icons/sustainable-fashion-4/512/LocalBrand-clothing-clothes-brand-goods-localproducts-localfashion-512.png"
      type="image/x-icon"
    />
    <title>our services - ThreadJoy</title>
  </head>
  <body>
    <%-include ('./partials/navbar.ejs')%>
    <h1>Our Services</h1>
    <div
      class="serviceDetail"
      style="
        background-image: url(https://howtostartanllc.com/images/business-ideas/purchasing-guide/clothing-boutique.jpg);
      "
    >
      <div class="contents">
        <h3>Clothing Purchase:</h3>
        <p>
          Discover a carefully curated collection of stylish and sustainable
          clothing items available for purchase. From casual essentials to
          statement pieces, ThreadJoy offers a diverse range of fashion choices.
        </p>
      </div>
    </div>
    <div
      class="serviceDetail"
      style="
        background-image: url(https://rentmy.co/wp-content/uploads/2022/06/chris-reyem-oJoeGnj8OMM-unsplash.jpg);
      "
    >
      <div class="contents">
        <h3>Clothing Rental:</h3>
        <p>
          Embrace the latest fashion trends without the environmental impact.
          ThreadJoy's clothing rental service allows you to enjoy a rotating
          wardrobe, reducing waste and promoting a more sustainable approach to
          fashion.
        </p>
      </div>
    </div>
    <div
      class="serviceDetail"
      style="
        background-image: url(https://img.freepik.com/premium-photo/fashion-designer-stylist-takes-measurements-clothes-mannequin_151013-36931.jpg?size=626&ext=jpg);
      "
    >
      <div class="contents">
        <h3>Style Consultations:</h3>
        <p>
          Personalize your fashion journey with expert style consultations. Our
          team is here to help you find the perfect pieces that align with your
          individual taste, ensuring you look and feel your best.
        </p>
      </div>
    </div>
    <div class="serviceDetail"
    style="background-image: url(https://myvistage.com/hub/wp-content/uploads/sites/4/2011/12/negotiation-strategies.jpeg);">
      <div class="contents">
        <h3>Subscription Boxes:</h3>
        <p>
          Elevate your wardrobe effortlessly with ThreadJoy's subscription
          boxes. Receive handpicked clothing items regularly, tailored to your
          preferences, and stay on top of the latest fashion without the hassle.
        </p>
      </div>
    </div>
    <div class="serviceDetail"
    style="background-image: url(https://ecobravo.co.uk/cdn/shop/articles/7_Tips_To_Be_More_Eco-friendly_in_2019_1200x1200.jpg?v=1571826589);">
      <div class="contents">
        <h3>Environmental Impact Tracking:</h3>
        <p>
          Stay informed about the positive environmental impact you're making by
          choosing ThreadJoy. Our platform provides insights into the reductions
          in carbon footprint and waste achieved through your clothing rental
          and purchase choices.
        </p>
      </div>
    </div>
    <div class="serviceDetail"
    style="background-image: url(https://www.claritychi.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fjmqfvlrp%2Fproduction%2F7be6b04e5831f80216b6e300e442a78d87760ee4-2560x1707.jpg%3Fw%3D1800&w=3840&q=75);">
      <div class="contents">
        <h3>Community Events and Workshops:</h3>
        <p>
          Join a community of like-minded individuals passionate about
          sustainable fashion. ThreadJoy organizes events and workshops to share
          insights, tips, and discussions on fashion, sustainability, and
          conscious living.
        </p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
